<%= form_with model: article, html: { multipart: true } do |form| %>
  <div class="field">
  <%= form.label :content %>    
  <%= form.file_field :content%>
</div>
<%= form.submit "Save" %>   
<% end %>